 body{
    margin: 0;
    padding: 0;
    background-color: rgb(209, 71, 71);
}
#app{
    background-color: blanchedalmond;
    text-align: center;
}

#game {
    margin-top: 50PX;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.choice{
    height: 150px;
    width: 150px;
    border: 2px solid white;
    border-radius: 50%;
    

}
.choice :hover{
    border: black solid;
    opacity: 50%;
}

.choice img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
#align{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#score{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;

}
#last{
    
    text-align: center;
    font-size:35px;
   
   background-color: black;
   color: white;
 margin-bottom: 40px;


}